.adminpage{
    display:flex;
    justify-content: space-between;
}

.admin-options{
    justify-content: center;
    align-items: center;
    width: 20%;
}


.admin-controls{
    width:100%;
}

/*---------------REGISTRATION---------------------------*/
.registerform{
    display:flex;
    flex-flow:column wrap;
    justify-content: space-evenly;
    align-items:center;
    height:500px;
}

.fullname{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

.contact{
    padding:5px;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    
}


.credential{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

/* .controls{
} */

.controls button{
    margin-left:25px;
}
/*-----------------------!REGISTRATION---------------------------*/

/*-----------------------CATALOG---------------------------*/
.catalogform{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:center;
    margin-left:5px;
    box-sizing: border-box;
    height:100%;
    width:100%;
}

.identification{
    padding:25px;
    align-self: center;
}
.identification label{
    padding:2px;
}
.identification select{
    width:130px;
}

.author{
    align-self: center;
    padding: 25px;
}

.publication{
    display:inline-flex;
    width:300px;
    height:100%;
    flex-direction: column;
    align-self: center;
    padding:25px;
}
/*-----------------------!CATALOG---------------------------*/

/*-----------------------REPORT---------------------------*/
.report-parameters{
    border: 1px solid white;
    padding:20px;
}

.params{
    display: flex;
    margin-bottom: 10px;
    margin-left: 30px;
}

.params input{
    width:80%;
}


/*-----------------------!REPORT---------------------------*/