.loginform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: content-box;
    position: relative;
    height:10rem;
    margin:9rem 0;
}

.login-input input{
    margin:5px;
}

.login-buttons{
    margin-top: 20px;
    width: 100px;
}